app:
  initializeDb: true
  logLevel: "info"
  productionMode: false
database:
  batchSize: 10000
  maxRetries: 3
  initialRetryDelay: 1000
  ssl: true
blockchain:
  blockIntervalThreshold: 3
subgraphProviders:
  collective-rewards:
    url: "https://gateway.thegraph.com/api"
    maxRowsPerRequest: 1000
  governance:
    url: "https://gateway.thegraph.com/api"
    maxRowsPerRequest: 1000
entities:
  - name: LastProcessedBlock
    columns:
      - name: id
        type: Boolean
      - name: number
        type: BigInt
      - name: timestamp
        type: BigInt
      - name: hash
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BlockChangeLog
    columns:
      - name: id
        type: Bytes
      - name: blockNumber
        type: BigInt
      - name: blockTimestamp
        type: BigInt
      - name: updatedEntities
        type: [String]
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BackerStakingHistory
    columns:
      - name: id
        type: Bytes
      - name: backerTotalAllocation
        type: BigInt
      - name: accumulatedTime
        type: BigInt
      - name: lastBlockNumber
        type: BigInt
      - name: lastBlockTimestamp
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: GaugeStakingHistory
    columns:
      - name: id
        type: Bytes
      - name: gauge
        type: Bytes
      - name: backer
        type: BackerStakingHistory
      - name: allocation
        type: BigInt
      - name: accumulatedAllocationsTime
        type: BigInt
      - name: lastBlockNumber
        type: BigInt
      - name: lastBlockTimestamp
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: Builder
    columns:
      - name: id
        type: Bytes
      - name: gauge
        type: Bytes
      - name: rewardReceiver
        type: Bytes
      - name: isHalted
        type: Boolean
      - name: totalAllocation
        type: BigInt
      - name: rewardShares
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BackerRewardPercentage
    columns:
      - name: id
        type: Bytes
      - name: builder
        type: Builder
      - name: previous
        type: BigInt
      - name: next
        type: BigInt
      - name: cooldownEndTime
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BuilderState
    columns:
      - name: id
        type: Bytes
      - name: builder
        type: Builder
      - name: initialized
        type: Boolean
      - name: kycApproved
        type: Boolean
      - name: communityApproved
        type: Boolean
      - name: kycPaused
        type: Boolean
      - name: selfPaused
        type: Boolean
      - name: pausedReason
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: GaugeToBuilder
    columns:
      - name: id
        type: Bytes
      - name: builder
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BuilderRewardsClaimed
    columns:
      - name: id
        type: Bytes
      - name: builder
        type: Builder
      - name: token
        type: Bytes
      - name: amount
        type: BigInt
    primaryKey:
        - id
    subgraphProvider: "collective-rewards"
  - name: Backer
    columns:
      - name: id
        type: Bytes
      - name: isBlacklisted
        type: Boolean
      - name: totalAllocation
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BackersRewardsClaimed
    columns:
      - name: id
        type: Bytes
      - name: token
        type: Bytes
      - name: amount
        type: BigInt
      - name: backer
        type: Backer
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BackerToBuilder
    columns:
      - name: id
        type: Bytes
      - name: totalAllocation
        type: BigInt
      - name: backer
        type: Backer
      - name: builder
        type: Builder
      - name: builderState
        type: BuilderState
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: BackerToBuilderRewardsClaimed
    columns:
      - name: id
        type: Bytes
      - name: token
        type: Bytes
      - name: amount
        type: BigInt
      - name: backerToBuilder
        type: BackerToBuilder
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: Cycle
    columns:
      - name: id
        type: Bytes
      - name: onDistributionPeriod
        type: Boolean
      - name: currentCycleStart
        type: BigInt
      - name: currentCycleDuration
        type: BigInt
      - name: previousCycleStart
        type: BigInt
      - name: previousCycleDuration
        type: BigInt
      - name: distributionDuration
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: CycleRewardPerToken
    columns:
      - name: id
        type: Bytes
      - name: token
        type: Bytes
      - name: amount
        type: BigInt
      - name: cycle
        type: Cycle
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: ContractConfig
    columns:
      - name: id
        type: Bytes
      - name: backersManager
        type: Bytes
      - name: builderRegistry
        type: Bytes
      - name: rewardDistributor
        type: Bytes
      - name: blockNumber
        type: BigInt
      - name: blockTimestamp
        type: BigInt
      - name: blockHash
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: GlobalMetric
    columns:
      - name: id
        type: Bytes
      - name: builders
        type: [Bytes]
      - name: totalAllocation
        type: BigInt
      - name: totalPotentialReward
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: GlobalDistributionPerToken
    columns:
      - name: id
        type: Bytes
      - name: token
        type: Bytes
      - name: amount
        type: BigInt
      - name: globalMetric
        type: GlobalMetric
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: DailyAllocation
    columns:
      - name: id
        type: Bytes
      - name: day
        type: Integer
      - name: totalAllocation
        type: BigInt
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: AllocationHistory
    columns:
      - name: id
        type: Bytes
      - name: cycleStart
        type: BigInt
      - name: blockHash
        type: Bytes
      - name: backer
        type: Bytes
      - name: builder
        type: Bytes
      - name: allocation
        type: BigInt
      - name: increased
        type: Boolean
      - name: blockTimestamp
        type: BigInt
      - name: transactionHash
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: ClaimedRewardsHistory
    columns:
      - name: id
        type: Bytes
      - name: cycleStart
        type: BigInt
      - name: blockHash
        type: Bytes
      - name: builder
        type: Bytes
      - name: rewardToken
        type: Bytes
      - name: backer
        type: Bytes
        nullable: true
      - name: blockTimestamp
        type: BigInt
      - name: amount
        type: BigInt
      - name: transactionHash
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "collective-rewards"
  - name: Account
    columns:
      - name: id
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "governance"
  - name: Proposal
    columns:
      - name: id
        type: Bytes
      - name: proposalId
        type: Bytes
      - name: description
        type: String
      - name: votesFor
        type: BigInt
      - name: votesAgainst
        type: BigInt
      - name: votesAbstains
        type: BigInt
      - name: voteEnd
        type: BigInt
      - name: voteStart
        type: BigInt
      - name: quorum
        type: BigInt
      - name: state
        type: String
      - name: rawState
        type: Integer
      - name: createdAt
        type: BigInt
      - name: createdAtBlock
        type: BigInt
      - name: signatures
        type: [Bytes]
      - name: targets
        type: [Bytes]
      - name: values
        type: [BigInt]
      - name: calldatas
        type: [Bytes]
      - name: proposer
        type: Account
    primaryKey:
      - id
    subgraphProvider: "governance"
  - name: VoteCast
    columns:
      - name: id
        type: Bytes
      - name: voter
        type: Account
      - name: proposal
        type: Proposal
      - name: support
        type: Integer
      - name: weight
        type: BigInt
      - name: reason
        type: String
      - name: blockNumber
        type: BigInt
      - name: blockTimestamp
        type: BigInt
      - name: transactionHash
        type: Bytes
    primaryKey:
      - id
    subgraphProvider: "governance"
